* {
	margin: 0;
	box-sizing: border-box;
	max-width: 1200px;
	margin: auto;
}
body {
	background-color: #006cab
}
header {
	width: 100%;
	background-color: white;
}
article {
	width: 100%;
	min-height: 100px;
	margin-top: 10px;
}
/*aside {
	background-color: green;
	width: 100px;
	height: 100px;
}*/
nav {
	width: 100%;
	text-align: center;
}
footer {
	width: 100%;
	background-color: green;
	text-align: center;
	margin-top: 10px;
}
#main {
	width: 100%;
	background-color: white;
	margin-top: 10px;