* {
	margin: 0;
	box-sizing: border-box;
	max-width: 1200px;
	margin: auto;
}
body {
	background-color: #006cab
}
header {
	width: 100%;
	background-color: white;
}
article {
	width: 100%;
	min-height: 100px;
	margin-top: 10px;
	padding-left: 10px;
}
/*aside {
	background-color: green;
	width: 100px;
	height: 100px;
}*/
nav {
	width: 100%;
	text-align: center;
}
footer {
	width: 100%;
	
	text-align: center;
	margin-top: 10px;
}
#main {
	width: 100%;
	background-color: white;
	margin-top: 10px;
	box-shadow: 0px 10px 8px 10px #014c78;
}
#doc {
	max-height: 400px;
	float: right;

}
#clinic {
	max-height: 400px;
	float: left;
	margin-right: 10px;
}
#pointer{
	max-height: 400px;
	float: right;
}