* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {

}
nav {
	background-color: lightblue;
	width: 100%;
}
section {
	background: lightgrey;
	width: 500px;
	/*float: left;*/
	*clear: right;*
}
article {
	background: linear-gradient(grey, yellow);
	width: 500px;
}
aside {
	
	
	float: Right;
	/*clear:  left;*/
	height: 100%;
	width: 100%;
	padding: 10px
}
p {
	margin-top: 20px;
}
footer {
	background-color: lightblue;
	width: 100%;
}
#asideSection {

}
#asideArticle {
	background: blue;
	width: 100px;
}
#box {
	width: 500px;
	height: 500px;
	background: black;
	color: white;
	overflow: auto;
}